/** author="Noa Van den Berghe" */
:root {
  /** text colours */
  --text: #050d0f;
  --text-secondary: #ffffff;
  /** background colours */
  --background: #fffaeb;
  /** brand colours */
  --primary: #97a9dd;
  --secondary: #dfd8f3;
  --accent: #5f3ec1;
  /** borders en elementen */
  --nav-border: #007ecc;
  --active: blue;
  /*
  * Supporting colours
  ! Nog niet gebruikt */
  --success: #81c784;
  --warning: #f2a365;
  --danger: #e57373;
  --info: #66b5f5;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-secondary: #050d0f;
    --background: #fef7ea;

    --primary: #97a9dd;
    --secondary: #dfd8f3;
    --accent: #5f3ec1;
    --nav-border: #007ecc;
    --active: darkblue;
  }
} */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  display: grid;
  grid-template:
    "header header header header header header"
    "menu   main   main   main   main   main"
    "footer footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
}
header {
  grid-area: header;
  background-color: var(--primary);
  color: var(--text-secondary);
  border: 2px solid var(--nav-border);
  border-radius: 1rem;
  padding: 2vh;

  width: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
nav {
  grid-area: menu;
  padding: 20px 0;
  background-color: var(--primary);
  color: var(--text-secondary);
  border: 2px solid var(--nav-border);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
aside {
  grid-area: aside;
  padding: 20px 0;
  background-color: var(--primary);
  color: var(--text-secondary);
  border: 2px solid var(--nav-border);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
nav ul li {
  display: block;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1vh;
  padding: 1vh;
  cursor: pointer;
}
nav ul a li {
  color: var(--text-secondary);
}
nav ul a li i {
  padding: 1vh;
}
nav ul li:hover {
  border: 2px solid var(--text-secondary);
  opacity: 0.8;
  transition-duration: 0.2s;
  transform: scale(1.03);
}
nav .active {
  border: 2px solid var(--active);
  opacity: 0.8;
}
main {
  grid-area: main;
  text-align: justify;
}
a {
  text-decoration: none;
  color: var(--text);
}
h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: var(--primary);
}
h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: var(--accent);
}
img {
  border-radius: 2rem;
  max-height: 50rem;
  height: auto;
  width: auto;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: var(--text-secondary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  /* Voeg marge toe tussen de kaarten */
  text-align: center;
  font-family: arial;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* Voeg wat binnenruimte toe voor de inhoud van de kaart */
  max-width: 500px;
  /* Verhoog de maximale breedte */
  /* Zorg ervoor dat de kaarten de beschikbare breedte vullen */
}
.price {
  color: grey;
  font-size: 22px;
}
.card img {
  border-radius: 15%;
  max-width: 100%;
  height: auto;
}
.card h1 {
  font-size: 1.6rem;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: var(--text-secondary);
  background-color: var(--accent);
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;

  font-size: 18px;
  margin: auto;
  margin-bottom: 0;
}
/** Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}
input[type="submit"] {
  background-color: var(--accent);
  color: var(--text-secondary);
  padding: 12px 20px;
  border: none;
  /* border-radius: 1rem; */
  cursor: pointer;
}
input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--text-secondary);
}
input[type="search"]::placeholder {
  color: #bbb;
}
::-moz-selection {
  color: var(--text);
  background: var(--secondary);
}
::selection {
  color: var(--text);
  background: var(--secondary);
}
.about p {
  text-align: center;
  padding: 5rem;
  word-wrap: break-word;
}
.about h1,
h2 {
  text-align: center;
  padding: 1rem;
}
.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
.imgtextbtn {
  display: flex;
  flex-direction: row;
}
.imgtextbtn .text {
  padding-left: 2vw;
  padding-right: 2vw;
}
.imgtextbtn p {
  color: var(--text);
  font-size: 1rem;
}
.imgtextbtn button {
  border: none;
  outline: 0;
  padding: 0.75rem 1.25rem;
  color: var(--text-secondary);
  background-color: var(--accent);
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 1rem;

  font-size: 18px;
  margin: auto;
  margin-bottom: 0;
  margin-top: 6vh;
}
.imgtextbtn button.button-wishlist {
  border: none;
  outline: 0;
  padding: 0.75rem 1.25rem;
  color: var(--text);
  background-color: var(--primary);
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 1rem;

  font-size: 18px;
  margin: auto;
  margin-bottom: 0;
  margin-top: 6vh;
}
.text-secondary {
  color: var(--text-secondary);
}
.card button:hover {
  opacity: 0.7;
  transition-duration: 0.2s;
  transform: scale(1.03);
}
.product-info p {
  text-align: center;
  padding: 0.5rem 3rem;
  word-wrap: break-word;
}
.reviews .author {
  font-style: italic;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.4;
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.active-star {
  color: var(--accent);
}
#map {
  height: 80vh;
  border-radius: 1rem;
}
footer {
  grid-area: footer;
  background-color: var(--primary);
  color: var(--text-secondary);
  border: 2px solid var(--nav-border);
  border-radius: 1rem;
  padding: 1.5vh;
  width: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
footer a {
  color: var(--text-secondary);
}
@media only screen and (min-width: 720px) {
  .hamburger,
  .close {
    display: none;
  }

  .card {
    width: 22vw;
  }
}
@media screen and (max-width: 1385px) {
  .card {
    max-width: 100%;
  }
}
@media only screen and (max-width: 720px) {
  .hamburger {
    position: fixed;
    z-index: 99;
    color: var(--text-secondary);
    border: none;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
  }

  .menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
  }

  .close {
    position: absolute;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    top: 1rem;
    right: 1rem;
  }

  .menu:target {
    /* show menu */
    transform: translateY(0);
  }

  .imgtextbtn {
    display: flex;
    flex-direction: column;
  }

  nav {
    border: none;
  }

  nav ul li {
    text-align: center;
  }

  .product-image {
    width: 100%;
    height: auto;
  }
  .card {
    width: auto;
  }
}
.danger {
  background-color: var(--danger);
  color: var(--text-secondary);
}
.success {
  background-color: var(--success);
  color: var(--text-secondary);
}
.warning {
  background-color: var(--warning);
  color: var(--text-secondary);
}
.info {
  background-color: var(--info);
  color: var(--text-secondary);
}
