/** author="Noa Van den Berghe" */
:root {
  --text: #050d0f;
  --text-secondary: #ffffff;
  --background: #fffaeb;
  --primary: #97a9dd;
  --secondary: #dfd8f3;
  --accent: #5f3ec1;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  display: grid;
  grid-template:
    "header header header header header header"
    "menu   main   main   main   main   main"
    "footer footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
}

header {
  grid-area: header;
  background-color: var(--primary);
  color: var(--text-secondary);
  border: 2px solid rgb(0, 126, 204);
  border-radius: 1rem;
  padding: 2vh;

  width: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

nav {
  grid-area: menu;
  width: fit-content;
  padding: 20px 0;
  background-color: var(--primary);
  color: var(--text-secondary);
  border: 2px solid rgb(0, 126, 204);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 98%;
}

nav ul li {
  display: block;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1vh;
  padding: 1vh;
  cursor: pointer;
}

nav ul li a {
  color: white;
}

nav ul li a i {
  padding: 1vh;
}

nav ul li:hover {
  border: 2px solid white;
  opacity: 0.8;
  transition-duration: 0.2s;
  transform: scale(1.03);
}

main {
  grid-area: main;
  text-align: justify;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: var(--primary);
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: var(--accent);
}

img {
  border-radius: 2rem;
  height: 50rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  /* Voeg marge toe tussen de kaarten */
  text-align: center;
  font-family: arial;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* Voeg wat binnenruimte toe voor de inhoud van de kaart */
  max-width: 500px;
  /* Verhoog de maximale breedte */
  width: 22vw;
  /* Zorg ervoor dat de kaarten de beschikbare breedte vullen */
}

.price {
  color: grey;
  font-size: 22px;
}

.card img {
  border-radius: 15%;
  max-width: 100%;
  height: auto;
}

.card h1 {
  font-size: 1.6rem;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: var(--text-secondary);
  background-color: var(--accent);
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;

  font-size: 18px;
  margin: auto;
  margin-bottom: 0;
}

.card button:hover {
  opacity: 0.7;
}

footer {
  grid-area: footer;
  background-color: var(--primary);
  color: var(--text-secondary);
  border: 2px solid rgb(0, 126, 204);
  border-radius: 1rem;
  padding: 1.5vh;

  width: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
footer a {
  color: var(--text-secondary);
}
nav .active {
  border: 2px solid blue;
  opacity: 0.8;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type="submit"] {
  background-color: var(--accent);
  color: var(--text-secondary);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--text);
  background: var(--secondary);
}

::selection {
  color: var(--text);
  background: var(--secondary);
}

.about p {
  text-align: center;
  padding: 5rem;
}
.about h1,
h2 {
  text-align: center;
  padding: 1rem;
}
.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* .about {
  display: flex;
  justify-content: center;
} */
