<nav class="topnav" id="myTopnav">
  <!--TODO Logo in nav zetten -->
<!-- <a href="index.html"><img src="assets/logo/cover.png" alt="" width="20px"></a> -->

  <a href="index.html" id="index" >Home</a>
  <a href="#news" id="">News</a>
  <a href="contact.html" id="contact">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">
      Producten
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
            <hr class="rounded">

      <a href="#">Link 3</a>

    </div>
  </div>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>