<nav class="navbar">
  <a href="index.html" >Home</a>
  <a href="#news">Contact us</a>
  <div class="dropdown">
    <button type="menu" class="dropbtn">
      Producten
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h2>Mega Menu</h2>
      </div>
      <div class="row">
        <div class="column">
          <h3>Computers</h3>
          <a href="#" >SPECTRAFROST X1 GAMING LAPTOP </a>
          <a href="#" >SPECTRAFROST Swiftlite Ultrabook</a>
          <a href="#" >SPECTRAFROST EcoWoodElite Desktop PC</a>
        </div>
        <div class="column">
          <h3>Accesoires</h3>
          <a href="#" id="kleurenprinter"
            >OnyxJet Pro Draadloze Kleurenprinter
          </a>
          <a href="#" >StealthGlide Black Wireless Mouse</a>
          <a href="#" >PureTone Stereo PC Speakers</a>
          <a href="#" ">LuminX 32-inch White Gaming Monitor</a>
          <a href="#" ">EcoView Essentials Office Monitor</a>
          <a href="#" ">AmethystGrip Purple Game Controller</a>
          <a href="#" ">CRYSTALVIEW CineMaster Pro Video Camera</a>
        </div>
        <div class="column">
          <h3>Gaming</h3>
          <a href="#" >Link 1</a>
          <a href="#" >Link 2</a>
          <a href="#" >Link 3</a>
        </div>
      </div>
    </div>
  </div>
  <a style="float: right" href="#about">&#128722;Winkelmandje</a>
</nav>
