/** author="Noa Van den Berghe" */
/** Brand colors */
:root {
  --text: #130e01;
  --text-secondary: #ffffff;
  --background: #fffaeb;
  --primary: #ff8400;
  --secondary: #190055;
  --accent: #cf4307;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.products {
  width: 100vw;
  margin: 0;
  padding: 2rem;
  background-color: lightcoral;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: repeat(2, 10rem 15rem 7rem);
  grid-gap: 2rem;
}

.card {
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: lightseagreen;
  border: solid #9a9a9a 1px;
}

.double {
  grid-column: 1 / span 3;
}
.doublerow {
  grid-row: 1 / span 2;
}
